<p id="notice"><%= notice %></p>

<p>
  <b>Message:</b>
  <%= @note.message %>
</p>

<p>
  <b>Author:</b>
  <%= @note.author_id %>
</p>

<p>
  <b>Published:</b>
  <%= @note.published %>
</p>

<p>
  <b>Lat:</b>
  <%= @note.lat %>
</p>

<p>
  <b>Long:</b>
  <%= @note.long %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
